@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: 25px;
}

span {
    color: rgb(212, 216, 0);
}
main {
    margin-top: 20px;
    display: flex ;
    flex-wrap: wrap;
   
}

.exemplo {
    color: orangered
}

.card {
    display: flex;
    background: rgb(255, 255, 255);
    height: 100%;
    perspective: 700px;
    color: rgb(0, 0, 0);
    
  
    
}

.front {
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 200px;
    width: 180px;
    margin: 20px;
    border-radius: 6px;
    z-index: 1;
    transition: 0.5s;
}

p {
    display: flex;
    justify-content: center;
    text-align: center;
}

.back  {
    background: rgb(0, 0, 0);
    color: #fff;
    height: 200px;
    width: 180px;
    margin: 20px;
    border-radius: 6px;
    position: absolute;
    transform: rotateY(-180deg);
    transition: 700ms;
    backface-visibility: hidden;
    
}



.card:hover .front {
    transform: rotateY(180deg);
    z-index: 0;
    cursor: pointer;
}

.card:hover .back {
    transform: rotateY(0);
    z-index: 1;
    cursor: pointer;
}

audio {
    display: none;
}